/*  Style.css
    Author: Adam Harris
    Website: medicoloans.com
    Date: 16/07/2017 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    color: #212121;
    text-align: left;
}

h1.type2 {
    font-size: 2.667em;
    font-weight: 800;
    line-height: 1.175em;
    color: #FAFAFA;
    text-align: right;
}

h2 {
    font-size: 2.0em;
    font-weight: 700;
    line-height: 1.33em;
    color: #212121;
    padding-bottom: 0.667em;
    text-align: left;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.6em;
    color: #212121;
    padding-top: 1.33em;
    padding-bottom: 0.667em;
    text-align: left;
}

h4 {
    font-size: 1.333em;
    font-weight: 700;
    line-height: 1.6em;
    color: #FAFAFA;
    padding: 0em 0;
    text-align: left;
}

h5 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.6em;
    color: #FAFAFA;
    padding: 0em 0;
    text-align: left;
}

p {
    font-size: 1em;
    font-weight: 300;
    font-line-height: 1em;
    font-color: #212121;
    font-padding: 1em 0;
    font-text-align: left;
}

/* Header */
body {
    line-height: 1;
    margin: 0px;
    background: url(doctor_1440x808.png) fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6667;
}

#headline {
    width: 64em;
    text-align: left;
    margin-top: 7.667em;
    margin-bottom: 7.667em;
    margin-left: 16em;
    padding: 1.333em;
}

#main_content {
    background-color: white;
    margin-left: 16em;
    padding: 1.333em;
    width: 64em;
}

.cta {
    float: right;
    width: 27%;
    height: 39.333em;
    background-color: #212121;
    padding: 1.333em;
}

.cta_headline {
    height: 11em;
}

.sidebar {
    float: right;
    width: 27%;
    height: 40em;
    background-color: white;
    padding: 1.333em;
}

.list_box1 {
    background-color: white;
    float: left;
    width: 33%;
}

.list_box2 {
    background-color: white;
    float: left;
    width: 33%;
}

input {
    width: 17.333em;
    height: 2.867em;
    padding: 0em;
}

.form_label1 {
    padding-top: 0.667em;
    padding-bottom: 0.5em;
}

.form_label {
    padding-top: 0.667em;
    padding-bottom: 0.5em;
}

.button1 {
    padding-top: 1.333em;
}

.errors p,
.success p {
    padding: 15px;
}

